# Compiled binary
*.exe
*.out
*.app

# Dependency directories
/vendor/
/tmp/
/web/static/imgs/

# Output of go test
/test-results/

# IDE-specific files
.idea/
.vscode/

# Environment-specific files
.env